--extra-index-url https://download.pytorch.org/whl/cpu
torch
streamlit
streamlit-option-menu
numpy
pandas
altair
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
chromadb
sentence-transformers